<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="kshvmdn">
    <title>CADBorderTimes</title>
    <meta name="application-name" content="CADBorderTimes">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <style type="text/css">
        *       {font-family: 'Open Sans';}
        body    {margin: 30px;}
    </style>
</head>
<body>
    {% block index %}{% endblock index %}
</body>
</html>
